<div id="PODCASTS" class="container">

    <div class="mt-custom-100">
        <div class="col-12 py-5">
            <div class="col-12">
                <button id="add-podcast" class="btn btn-secondary" data-toggle="modal" data-target=".addPodcastModal">Add Podcast
                </button>
                <div class="modal fade addPodcastModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="myLargeModalLabel">Add Podcast</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <form id="add-podcast-form" method="POST" enctype="multipart/form-data">
                                <div class="modal-body">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-6 p-2">
                                                <label>Podcast Name</label>
                                                <input name="name" class="form-control" type="text" placeholder="Podcast Name.." id="podcastName">
                                            </div>
                                            <div class="col-lg-6 p-2">
                                                <label>Artist</label>
                                                <select id="artist" name="artist" class="custom-select">
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 p-2">
                                                <label>Genre</label>
                                                <select name="genre" id="genre" class="custom-select" multiple>
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>
                                            <div class="col-lg-6 p-2">
                                                <label>Podcast File</label>
                                                <select name="listPodcastFile" id="listPodcastFile" class="custom-select">
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>

                                            <div class="col-lg-6 p-2">
                                                <label>Cover File</label>
                                                <select name="listCoverFile" id="listCoverFile" class="custom-select">
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>


                                            <div class="col-lg-6">
                                                <label>Description</label>
                                                <textarea class="form-control" id="description" placeholder="Description" name="description"></textarea>
                                            </div>
                                        </div>
                                        <div class="row">

                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button id="savePodcast" type="submit" class="btn btn-primary waves-effect waves-light">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->

                <div class="modal fade edit-podcast-modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-lg">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title mt-0" id="myLargeModalLabel">Edit Podcast</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            </div>
                            <form id="edit-podcast" method="POST" enctype="multipart/form-data">
                                <div class="modal-body">

                                    <div class="col-12">
                                        <div class="row">
                                            <div class="col-lg-6 p-2">
                                                <label>Podcast Name</label>
                                                <input id="edit-name" name="edit-name" class="form-control edit-name" type="text" placeholder="Podcast Name..">
                                            </div>
                                            <div class="col-lg-6 p-2">
                                                <label>Artist</label>
                                                <select name="edit-artist" id="edit-artist" class="custom-select">
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-6 p-2">
                                                <label>Genre</label>
                                                <select id="edit-genre" class="custom-select edit-genre" multiple>
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>
                                            <div class="col-lg-6 p-2">
                                                <label>Podcast File</label>
                                                <select id="edit-listPodcastFile" class="custom-select edit-listPodcastFile">
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>

                                            <div class="col-lg-6 p-2">
                                                <label>Cover File</label>
                                                <select name="edit-coverFile" id="edit-coverFile" class="custom-select">
                                                    <!-- generate by javascript -->
                                                </select>
                                            </div>
                                            <div class="col-lg-6">
                                                <label>Description</label>
                                                <textarea class="form-control" id="edit-description" placeholder="Description" name="description"></textarea>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button id="save-edit-podcast" type="submit" class="btn btn-primary waves-effect waves-light">
                                        Save
                                    </button>
                                </div>
                            </form>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
            </div>
        </div>


        <div id="datatable_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
            <div class="row">
                <div class="col-sm-12">
                    <table id="Podcasts" class="table table-bordered dt-responsive nowrap dataTable no-footer dtr-inline" style="border-collapse: collapse; border-spacing: 0px; width: 100%;" role="grid" aria-describedby="datatable_info">
                        <thead>
                            <tr role="row">
                                <th class="sorting_asc" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 191px;" aria-sort="ascending" aria-label="Name: activate to sort column descending">Name
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 291px;" aria-label="Position: activate to sort column ascending">
                                    Description
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 141px;" aria-label="Office: activate to sort column ascending">Genre
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 73px;" aria-label="Age: activate to sort column ascending">Artist
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 137px;" aria-label="Start date: activate to sort column ascending">
                                    Create Date
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 113px;" aria-label="Salary: activate to sort column ascending">Cover
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 113px;" aria-label="Salary: activate to sort column ascending">Edit
                                </th>
                                <th class="sorting" tabindex="0" aria-controls="datatable" rowspan="1" colspan="1" style="width: 113px;" aria-label="Salary: activate to sort column ascending">Delete
                                </th>
                            </tr>
                        </thead>


                    </table>
                </div>
            </div>
        </div>
    </div>
</div>