<div class="container">
    <div class="col-12 mt-custom-100">
        <img src="<%= mainURL %>/assets/images/Logo-dark-dashboard.png" class="img-fluid" alt="">
        <!--         <h1 class="text-center display-1 shake animated">TEHRAN DEEP HOUSE</h1>-->
    </div>
</div>