<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
<title>Deep House Tehran Management Panel |  <%= pageTitle %></title>
<meta content="Admin Dashboard" name="description" />
<meta content="Themesbrand" name="author" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App Icons -->
<link rel="shortcut icon" href="<%= mainURL %>/assets/images/favicon.ico">

<!--Morris Chart CSS -->
<link rel="stylesheet" href="<%= mainURL %>/assets/plugins/morris/morris.css">

<!-- Basic Css files -->
<link href="/assets/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="/assets/css/icons.css" rel="stylesheet" type="text/css">
<link href="/assets/css/style.css" rel="stylesheet" type="text/css">
<!-- Dropzone css -->
<!-- <link href="/assets/plugins/dropzone/dist/dropzone.css" rel="stylesheet" type="text/css"> -->
<!-- DataTables -->
<link href="/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<!-- Responsive datatable examples -->
<link href="/assets/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css" />
<link href="/assets/css/custom.css" rel="stylesheet" type="text/css" />
<link href="/assets/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet" />
