<!-- ========== Left Sidebar Start ========== -->
<div class="left side-menu">

    <!-- LOGO -->
    <div class="topbar-left">
        <div class="">
            <!--<a href="index.html" class="logo text-center">Fonik</a>-->
            <a href="/panel" class="logo"><img src="<%= mainURL %>/assets/images/logo.png" alt="logo" style="width: 80%;height: auto;"></a>
        </div>
    </div>

    <div class="sidebar-inner slimscrollleft">
        <div id="sidebar-menu">
            <ul>

                <li class="menu-title">API</li>

                <li>
                    <a href="/panel" class="waves-effect"><i class="dripicons-device-desktop"></i><span> Dashboard
                        </span></a>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-broadcast"></i><span>Podcasts Settings
                            <span class="float-right"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="list-unstyled">
                        <li><a href="/panel/liveSchedules"><i class="dripicons-calendar"></i>Live Schedules</a></li>         
                        <li><a href="/panel/podcasts"><i class="dripicons-music"></i>Podcasts</a></li>
                        <li><a href="/panel/genres"><i class="dripicons-disc"></i>Genres</a></li>
                        <li><a href="/panel/artists"><i class="dripicons-user"></i>Artists</a></li>
                    </ul>
                </li>
                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-folder"></i><span>Files Manager
                            <span class="float-right"><i class="mdi mdi-chevron-right"></i></span> </span></a>
                    <ul class="list-unstyled">
                        <li><a href="/panel/media/covers"><i class="dripicons-photo"></i>Covers</a></li>         
                        <li><a href="/panel/media/podcasts"><i class="dripicons-music"></i>Podcasts</a></li>
                    </ul>
                </li>
                <li class="menu-title">User</li>
                <li>
                    <a href="/panel/users" class="waves-effect"><i class="dripicons-user-group"></i><span> Users
                        </span></a>
                </li>


            </ul>
        </div>
        <div class="clearfix"></div>
    </div> <!-- end sidebarinner -->
</div>
<!-- Left Sidebar End -->